.formControl {

}

.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border: 2px solid black;
    padding: 5px;
    background-color: red;
}