.pageNumbersContainer {
    padding: 5px;
}

.btn {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: coral;
    padding: 5px 10px;
    transform: translateY(-3px);
}

.selectedPageNumber {
    font-weight: 700;
    cursor: pointer;
    margin: 0 5px;
    padding: 0 3px;
    border: 1px solid;
    border-radius: 5px;
    background-color: gold;
    display: inline-block;
}

.pageNumber {
    cursor: pointer;
    margin: 0 5px;
    padding: 0 3px;
    border: 1px solid;
    border-radius: 5px;
    background-color: chocolate;
    display: inline-block;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: bisque;
}

.container:not(:last-child) {
    margin: 0 0 20px 0;
}

.leftBlock {
    flex: 0 1 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
}

.rightBlock {
    flex: 0 1 90%;
    display: flex;
    justify-content: space-between;
}

.nameContainer {

}

.userName {
    font-weight: bold;
}

.locationContainer {

}