.myPostsContainer {
    padding: 10px;
}

.newPostContainer {
    margin: 25px 0;
}

.inputPostText {
    width: 50%;
    height: 100px;
    resize: none;
    outline: none;
}

.addPostBtn {
    cursor: pointer;
}

.posts {

}